h1 {
    text-align: center;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    color: white;

}

h2 {
    text-align: center;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    color: white;
    font-size: 15px;
    margin-bottom: 50;
}

.ProfilePhoto{
    margin-top: 20;
}

body {
    background-color: #212121;
}

img {
    text-align: center;
    align-self: center;
}

form {

    text-align: center;
}

div {
    display: grid;
    place-items: center;
}