.photo {
    display: -webkit-flex;
    /* display:inline-flex; */
    align-items: center;
    background-color: red;
    margin-top: 30px;
    /* justify-content: center; */
    margin-left: 50%;

}

.photoTile {
    width: 100%;
    /* background-color: red; */
    margin: 7px;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}

.photoContainer {
    width: 91%;
    max-width: 480px;
    margin: auto;
    display: flex;
    /* background-color: rebeccapurple; */
    text-align: center;
    flex-direction: column;
    place-items: center;
}

.mainProfilePhoto {
    align-self: center;
}

.view {
    align-self: center;
}


.SurvivalLabel {

    color: white;
    font-family: 'Poppins';
    font-size: 14px;
    margin-top: -15px;
    text-align: left;
    margin-left: 15px;
}

.DayLabel {

    color: white;
    font-family: 'Poppins';
    font-size: 14px;
    margin-top: -15px;
    text-align: left;
    margin-left: 15px;
}

.SurvivalLine {
    margin-top: -15px;
    margin-bottom: 22px;
    margin-left: 2px;
    text-align: center;
    margin-right: 2px;
    background-color: red;
}


.SurvivalTimeMainLabel {
    color: greenyellow;
    text-align: center;
    font-family: 'Poppins';
    font-size: 17px;
}





.mainName {
    text-align: center;
    font-family: 'Poppins';
    font-size: 26px;
    color: white;
}

.titleOfPerson {
    text-align: center;
    font-size: 14px;
    font-family: 'Poppins';
    color: white;
    margin-top: -20px;
}




body {
    background-color: #212121;
}


.nameInfo {
    margin-top: -30px;
}


.mainContainer {
    width: 91%;
    max-width: 680px;
    margin: auto;
    display: flex;
    text-align: center;
    /* background-color: red; */
    flex-direction: column;
    /* place-items: center; */
}




.tile {
    width: 100%;
    background-color: #cbcbcb;
    margin: 7px;
    border-radius: 17px;
    text-decoration: none;
    display: flex;
    align-self: center;
    justify-content: space-between;
}

.resumeClass {
    display: flex;
    justify-content: space-between;
}

.resumeTile {
    width: 40%;
    background-color: #cbcbcb;
    margin-top: 7px;
    margin-bottom: 7px;
    border-radius: 17px;
    text-decoration: none;
    display: flex;
    align-self: left;
    justify-content: center;


}

.emailTile {
    width: 40%;
    background-color: #cbcbcb;
    margin-top: 7px;
    margin-bottom: 7px;
    border-radius: 17px;
    text-decoration: none;
    display: flex;
    align-self: right;
    justify-content: center;
}

.symbolTriangle {
    display: flex;
    overflow: hidden;
    align-self: center;
    justify-content: center;
}

.lblResume {
    display: flex;
    font-size: 18px;
    color: black;
    font-family: 'Poppins';
    text-align: center;
}


.infoLabel {
    display: flex;
    font-size: 18px;
    color: black;
    font-family: 'Poppins';
    text-align: center;
}

.ImageClass {
    flex: 1;
    position: relative;
    display: flex;
    padding: 10px;
    overflow: hidden;
    justify-content: left;
}

.hiddenClass {
    flex: 1;
    position: relative;
    display: flex;
    padding: 10px;
    overflow: hidden;
    justify-content: left;
    visibility: hidden;
    background-color: blue;
}


.tile:hover {
    transition: cubic-bezier(.54, 1.5, .38, 1.11) 0.2s;
    transform: scale(1.02);
    transition-timing-function: cubic-bezier(.54, 1.5, .38, 1.11);

}

.resumeTile:hover {
    transition: cubic-bezier(.54, 1.5, .38, 1.11) 0.2s;
    transform: scale(1.02);
    transition-timing-function: cubic-bezier(.54, 1.5, .38, 1.11);

}
.emailTile:hover {
    transition: cubic-bezier(.54, 1.5, .38, 1.11) 0.2s;
    transform: scale(1.02);
    transition-timing-function: cubic-bezier(.54, 1.5, .38, 1.11);

}